body {
    font-family: "poppins";
    background-color: #272044;
}
.container {
    max-width: 1600px;
    margin: auto;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../src/images/athens-hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 260px;
    line-height: 1.5;
    aspect-ratio: 21 / 9;
}
header h1 {
    font-weight: 700;
    font-size: 96px;
}
header h2 {
    font-weight: 400;
    font-size: 40px;
}
header h3 {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
header a {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #272044;
    background-color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    margin-top: 32px;
}
main {
    background-color: white;
}
footer {
    background-image: linear-gradient(rgba(39,32,68,0.8),rgba(39,32,68,0.8)),
    url("../src/images/athens-footer-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 64px;
}
footer h3 {
    font-size: 20px;
}
footer p, footer a {
    font-size: 16px;
    opacity: 0.7;
}
footer a {
    color: white;
}
footer ul {
    padding: 0;
    margin: 0;
}
footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.why-athens-section {
    padding: 100px;
    color: #272044; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
}
.why-athens-section img {
    max-width: 100%;
}
.why-athens-section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0px 0px 18px 0px;
}
.why-athens-section h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0px 0px 18px 0px;
}
.why-athens-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}

@media (max-width: 800px) {
    header {
        padding: 60px;
    }
    header h1 {
        font-size: 48px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
    header a {
        font-size: 7px;
    }
    footer {
        padding: 50px;
    }
    footer h3 {
        font-size: 10px;
    }
    footer p, footer a {
        font-size: 8px;
    }
    .why-athens-section {
        grid-template-columns: 1fr;
        padding: 50px;
    }
    .why-athens-section h2 {
        font-size: 20px;
    }
    .why-athens-section h3 {
        font-size: 8px;
    }
    .why-athens-section p {
        font-size: 8px;
    }
}